* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;

    /* To center the iPod */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Font style */
    font-family: 'Montserrat', sans-serif;

    /* To avoid unnecessary highlighting on click inside Ipod */
    user-select: none; 
}